.a1{
    background-color: #306b58;
    padding-top: 300px;
    padding-bottom: 250px;
    
}
.a2{
    padding-left: 550px;
    color: white;
    text-size-adjust: 3px;
}
.a3{
    padding-left: 550px;
    color: rgb(194, 148, 32);
    text-size-adjust: 3px;
}
.a4{
    padding-left: 550px;
    padding-top: 150px;
}
.b{
    padding-left: 250px;
}
.b1{
    margin-left: 320px;
    margin-top: -60px;
}
.c1{
    color: rgb(11, 88, 63);
    margin-top: 20px;
    margin-bottom: 10px;
    
}